/* Dashboard CSS */

.dashSec {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #141e46,
    #141e46,
    #141e46,
    #141e46,
    #141e46,
    #141e46,
    #141e46,
    #141e46,
    #5c1f5f,
    #82145e,
    #372156,
    #141e46
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  max-width: 30rem;
  margin-top: 2rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #2719cd;
}

.dashForm {
  margin-top: 20px;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Adjust the gap as needed */
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: #2719cd;
}

/* Make input fields 100% width on smaller screens */
.input-field,
.file-input,
.select-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
}

/* Add margin-bottom for better spacing */
.input-field,
.file-input,
.select-field {
  margin-bottom: 10px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #2719cd;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.others {
  margin-top: 20px;
  text-align: center;
}

.platform-link {
  text-decoration: none;
  color: #2719cd;
  font-size: 1rem;
  margin-right: 20px;
}

.platform-link:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .input-grid {
    grid-template-columns: 1fr;
  }
}
