footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #6d10e0;
  height: 3rem;
  margin: 0;
  border-radius: 10px;
  z-index: 999;
  margin-top: 2rem;
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
}
.icons i {
  margin: 1rem;
  font-size: 1.8rem;
  z-index: 999;
  cursor: pointer;
}
.icons i:hover {
  color: #076df1;
}
